<?xml version="1.0" encoding="UTF-8"?>
<!-- logback-spring.xml파일이 있으면 Boot가 설정파일을 읽어감.
     logback-spring.xml파일이 없다면 .properties(.yml)파일의 설정을 보게됨. -->

<!-- 60초마다 설정 파일(logback-spring.xml)의 변경을 확인 하여 변경시 갱신 -->
<configuration scan="true" scanPeriod="60 seconds">
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <appender name="dailyRollingFileAppender"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <prudent>true</prudent>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>./log/carrot-web-app.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>3</maxHistory>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>

        <encoder>
            <pattern>%d{yyyy:MM:dd HH:mm:ss.SSS} %-5level --- [%thread] %logger{35} : %msg %n</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework.web" level="INFO"/>
    <logger name="org.thymeleaf" level="INFO"/>
    <logger name="org.hibernate.SQL" level="INFO"/>
    <logger name="org.quartz.core" level="INFO"/>
    <logger name="org.h2.server.web" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="dailyRollingFileAppender" />
    </root>
</configuration>
